.footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  box-shadow: var(--box-shadow-top);
}

.footer__container {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.footer__link:hover {
  color: var(--blue-1);
}

@media (max-width: 380px) {
  .footer__author-information,
  .footer__icon {
    font-size: 0.85rem;
  }
}

@media (max-width: 280px) {
  .footer__author-information,
  .footer__icon {
    font-size: var(--mob-p-font-size-1);
  }
}
