@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Roboto:wght@400;700&display=swap');

body {
  width: 100%;
  height: 100%;
  background-color: #1a1a1a;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  text-shadow: 1px 2px 2px black;
  color: #fff;
  display: grid;
  grid-template-areas:
    "cabecalho"
    "conteudo"
    "rodape";
  grid-template-columns: auto;
  grid-template-rows: 10vh 80vh 10vh;
}

.cabecalho {
  grid-area: cabecalho;
  width: 100%;
  background-color: #101010;
  display: flex;
  align-items: center;
  box-shadow: 0px 5px 20px #000;
}

.container-logo {
  width: 400px;
  height: 45px;
  padding: 12.5px 0 0 0;
  margin-left: 30px;
  border-radius: 10px;
  background-color: #000;
}

.container-logo:hover {
  background-color: #333;
}

.container-logo a img {
  width: 400px;
}

.conteudo {
  grid-area: conteudo;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.container-slogan {
  width: 70%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  border-radius: 10px;
  box-shadow: 0px 5px 20px #000;
  text-align: center;
}

.container-slogan h1 {
  font-size: 45px;
  font-weight: bold;
}

.container-sobre {
  width: 70%;
  height: 200px;
  font-size: 16px;
  text-align: center;
}

.container-sobre h2 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  display: block;
  margin: 0 0 20px 0;
}

.container-botao {
  width: 350px;
  height: 100px;
  box-shadow: 0px -5px 20px #000;
}

.botao {
  width: 100%;
  height: 100%;
  background-color: #FAD43D;
  border-radius: 10px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rodape {
  grid-area: rodape;
  width: 100%;
  background-color: #101010;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px -5px 20px #000;
}

.rodape a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
}

.rodape a:hover {
  color: #00B0F0;
}

i[class="fa-brands fa-github"] {
  margin-top: 5px;
  display: block;
  text-align: center;
}

/* Parte do Mobile */
@media(max-width: 769px) {

  .cabecalho {
    align-items: center;
  }

  .container-logo {
    width: 240px;
    margin: auto;
  }

  .container-logo a img {
    width: 240px;
  }

  .container-slogan {
    width: 80%;
    height: 100px;
    padding: 8px;
  }

  .container-slogan h1 {
    font-size: 20px;
  }

  .container-sobre {
    width: 80%;
    font-size: 12px;
    text-align: justify;
  }

  .container-sobre h2 {
    font-size: 20px;
  }

  .container-botao {
    width: 80%;
    height: 70px;
  }
}