@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Roboto:wght@400;700&display=swap');

body {
  width: 100%;
  height: 100%;
  background-color: #1a1a1a;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.cabecalho {
  width: 100%;
  height: 70px;
  background-color: #101010;
  display: flex;
  align-items: center;
  box-shadow: 0px 5px 20px #000;
}

.container-logo {
  width: 300px;
  height: 45px;
  margin: 10px;
  padding: 12.5px 0 0 0;
  border-radius: 10px;
  background-color: #000;
}

.container-logo:hover {
  background-color: #333;
}

.container-logo a img {
  width: 300px;
}

.rodape {
  width: 100%;
  height: 70px;
  background-color: #101010;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px -5px 20px #000;
}

.rodape a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
}

.rodape a:hover {
  color: #00B0F0;
}

i[class="fa-brands fa-github"] {
  margin-top: 5px;
  display: block;
  text-align: center;
}

@media(max-width: 769px) {
  body {
    font-size: 14px;
  }

  .cabecalho {
    justify-content: center;
  }
}

@media(max-width: 280px) {
  body {
    font-size: 14px;
  }

  .container-logo {
    width: 200px;
  }

  .container-logo a img {
    width: 200px;
  }
}