.logo {
  width: 25rem;
  margin: 0 2rem;
  cursor: pointer;
}

@media (max-width: 800px) {
  .logo {
    width: 22rem;
    margin: 0 1rem;
  }
}

@media (max-width: 440px) {
  .logo {
    width: 18rem;
  }
}

@media (max-width: 390px) {
  .logo {
    width: 16rem;
  }
}

@media (max-width: 280px) {
  .logo {
    width: 14rem;
  }
}

@media (max-width: 270px) {
  .logo {
    width: 13rem;
  }
}
